// --- body -------------------------------------------------------------------

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-text;
  background-color: $color-white;
  min-width: $page-min-width;
  -webkit-font-smoothing: antialiased;
}

// --- links ------------------------------------------------------------------

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
