// --- mixins -----------------------------------------------------------------

@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

@mixin rgba-bg($color, $alpha: false) {
  @if $alpha {
    background-color: $color;
    background-color: rgba($color, $alpha);
  } @else if alpha($color) < 1 {
    $_color: fade_in($color, 1);
    $_alpha: alpha($color);
    background-color: $_color;
    background-color: rgba($_color, $_alpha);
  } @else {
    background-color: $color;
  }
}

@mixin reset-border($sides...) {
  @each $side in $sides {
    @if ($side == 'top' or $side == 'right' or $side == 'bottom' or $side == 'left') {
      border-#{$side}: none;
    }
  }
}

// --- mixins: css3 -----------------------------------------------------------

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  transition: $transitions;
}

// --- mixins: media queries --------------------------------------------------
// based on: https://github.com/paranoida/sass-mediaqueries/

@mixin screen($res-min, $res-max) {
  @media screen and ( min-width: $res-min ) and ( max-width: $res-max ) {
    @content;
  }
}

@mixin max-screen($res) {
  @media screen and ( max-width: $res ) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and ( min-width: $res ) {
    @content;
  }
}
