// --- variables: new ---------------------------------------------------------

$color-white:                 #ffffff !default;

$color-blue:                  #218bcf !default;

$color-text:                  #333 !default;
$color-text-light:            #999 !default;

$color-link:                  $color-blue !default;
$color-link-hover:            $color-link !default;


// --- variables: base --------------------------------------------------------

$base-font-size:              16px !default;
$base-line-height:            22px !default;
$base-font-family:            'Open Sans', sans-serif !default;

$base-border-radius:          2px !default;
$base-gap:                    10px !default;


// --- variables: page --------------------------------------------------------

$page-width:                  1200px !default;
$page-min-width:              320px !default;


// --- variables: typo & fonts ------------------------------------------------

$font-size-small:             14px !default;
$font-size-medium:            24px !default;
$font-size-large:             36px !default;


// --- variables: buttons -----------------------------------------------------

// $btn-font-size:                   $base-font-size !default;
// $btn-border-radius:               $base-border-radius !default;

// $btn-text-color:                  $color-blue !default;
// $btn-border-color:                $color-gray !default;
// $btn-background:                  $color-white-darker !default;


// --- variables: media queries -----------------------------------------------

$breakpoint-xlarge:              1920px !default;
$breakpoint-large:               1024px !default;
$breakpoint-small:               767px !default;
