// --- layouts ----------------------------------------------------------------

.l-container {
  @extend %grid-container;
  padding-left: $base-gap*4;
  padding-right: $base-gap*4;
}

// --- media queries ----------------------------------------------------------

@include max-screen($breakpoint-small) {
  .l-container {
    padding-left: $base-gap*2;
    padding-right: $base-gap*2;
  }
}
