// --- info -------------------------------------------------------------------

.info {
  text-align: center;
}

.info__list {
  @extend %unstyled;
  @include clearfix;
}

.info__main-title {
  font-size: $font-size-medium;
  padding-bottom: $base-gap*3;
}

.info__item {
  @extend %grid-25;
  @extend %grid-columns-all;
  position: relative;
  font-size: 15px;
}

.info__title {
  font-size: $font-size-small;
  text-transform: uppercase;
  line-height: 1;
  padding-bottom: $base-gap*2;
  font-weight: bold;
}

.info__text {
  margin-bottom: 0;
}

// --- media queries ----------------------------------------------------------

@include max-screen($breakpoint-small) {
  .info__item {
    width: 100%;
    padding: 0 0 $base-gap*2;
  }
}

// --- media queries ----------------------------------------------------------

.info--contact {
  @include max-screen($breakpoint-small) {
    .info__item {
      padding-bottom: $base-gap*4;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

// --- info: idx --------------------------------------------------------------

.info--idx {
  padding-bottom: $base-gap*4;

  .info__item {
    padding-top: $base-gap*3;
    width: 33%;
  }

  .info__title,
  .info__text {
    position: relative;
    z-index: 10;
  }

  .info__idx {
    font-size: 120px;
    line-height: 1;
    z-index: 5;
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    color: mix($color-text, $color-white, 5%);
    font-family: georgia;
  }

  @include max-screen($breakpoint-small) {
    .info__item {
      padding-bottom: $base-gap*5;
      width: 100%;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
