// --- nav --------------------------------------------------------------------

.nav {
  @extend %hidden-phone;
  position: absolute;
  top: 38px;
  right: 40px;
}

.nav__list {
  @extend %unstyled;
}

.nav__item {
  display: inline-block;
  padding-left: $base-gap*7;

  &:first-child {
    padding-left: 0;
  }
}

.nav__link {
  @include transition(border .25s);
  color: $color-white;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  display: inline-block;
  padding-bottom: 1px;
  text-transform: uppercase;
  outline: none;

  &:hover {
    text-decoration: none;
    color: $color-white;
    border-bottom-color: rgba($color-white, .5);
  }
}

// --- media queries ----------------------------------------------------------

@include max-screen($breakpoint-large) {
  .nav__item {
    padding-left: $base-gap*5;
  }
}
