// --- products ---------------------------------------------------------------

.products {
  @extend %hidden-phone;
  padding: 0 10%;
}

.products__logo {
  padding: $base-gap*2;
}

// --- media queries ----------------------------------------------------------

@include max-screen($breakpoint-large) {
  .products {
    padding-left: 0;
    padding-right: 0;
  }
}
