// --- section ----------------------------------------------------------------

.section {
  padding-bottom: $base-gap*10;
  text-align: center;
}

.section__title {
  font-size: $font-size-large;
  line-height: 1.2;
  padding-bottom: $base-gap*4;
}

.section__body {
  padding: 0 10%;
}

// --- media queries ----------------------------------------------------------

@include max-screen($breakpoint-large) {
  .section {
    padding-bottom: $base-gap*6;
  }
}

@include max-screen($breakpoint-small) {
  .section {
    padding-bottom: $base-gap*4;
  }

  .section__title {
    font-size: $font-size-medium;
  }

  .section__body {
    padding-left: 0;
    padding-right: 0;
  }
}

// --- section: company -------------------------------------------------------

.section--company {
  padding-top: 80px;

  .section__body {
    padding-bottom: $base-gap*4;
  }
}

// --- section: offer ---------------------------------------------------------

.section--offer {
  .section__body {
    padding-bottom: $base-gap*4;
  }
}

// --- section: contact -------------------------------------------------------

.section--contact {
  padding-bottom: $base-gap*4;
}
