// --- placeholders: base -----------------------------------------------------

%unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// --- placeholders: gmaps fix ------------------------------------------------

%gmaps-fix {
  img {
    max-width: none;
  }

  label {
    display: inline;
    font-size: $font-size-small;
  }

  .gm-style-cc {
    line-height: normal;
  }
}
