// --- placeholders: base -----------------------------------------------------

%unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%general-title {
  color: $color-text;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: $base-gap*2;
}

// --- placeholders: gmaps fix ------------------------------------------------

%gmaps-fix {
  img {
    max-width: none;
  }

  label {
    display: inline;
    font-size: $font-size-small;
  }

  .gm-style-cc {
    line-height: normal;
  }
}
